<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Practice</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>
    <script src="scripts/project.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="styleSheets/project.css" rel="stylesheet">

</head>
<body ng-controller="practiceController">
<br/>
    <accordion class="col-md-2" ng-hide="hideAccordion">
        <accordion-group heading="Java" is-open=true>
            <ul>
                <li>
                    <a ng-click="changeJson('Java')">Java-Test-1</a>
                </li>
                <li>
                    <a ng-click="changeJson('Java')">Java-Test-2</a>
                </li>
            </ul>
        </accordion-group>
        <accordion-group heading="JavaScript">
            <ul>
                <li>
                    <a ng-click="changeJson('JavaScript')">JavaScript-Test-1</a>
                </li>
                <li>
                    <a ng-click="changeJson('JavaScript')">JavaScript-Test-2</a>
                </li>
            </ul>
        </accordion-group>
        <accordion-group heading="CSS">
            <ul>
                <li>
                    <a ng-click="changeJson('CSS')">CSS-Test-1</a>
                </li>
                <li>
                    <a ng-click="changeJson('CSS')">CSS-Test-2</a>
                </li>
            </ul>
        </accordion-group>
        <accordion-group heading="HTML">
            <ul>
                <li>
                    <a ng-click="changeJson('HTML')">HTML-Test-1</a>
                </li>
                <li>
                    <a ng-click="changeJson('HTML')">HTML-Test-2</a>
                </li>
            </ul>
        </accordion-group>
    </accordion>
<div id="hideAccordDiv" ng-click="hideAccordion=!hideAccordion" ><img src="img/sidebar.jpg" /></div>
<div class="container">
    <div class="jumbotron"><h2>{{htmlTitle}} Online Test</h2></div>
    <div id="mainDiv">
        <div style="margin: auto;width: 60%;padding: 10px;">
            <span>{{question}}</span><br/><br/>
            <form>
                <label>
                    <input ng-change="show()" type="radio" ng-model="userAnswer" value= "A">
                    {{choiceA}}
                </label><br/><br/>
                <label>
                    <input ng-change="show()" type="radio" ng-model="userAnswer" value="B">
                    {{choiceB}}
                </label><br/><br/>
                <label>
                    <input ng-change="show()" type="radio" ng-model="userAnswer" value="C">
                    {{choiceC}}
                </label><br/><br/>
                <label>
                    <input ng-change="show()" type="radio" ng-model="userAnswer" value="D">
                    {{choiceD}}
                </label><br/><br/>
            </form>
            <span ng-show=showAnswer> {{rightAnswer}} <a style="cursor: pointer" ng-show="explanation!=''" ng-click="showExp=!showExp;" class="glyphicon glyphicon-question-sign"></a>
            </span><br/>
            <span ng-show=showExp>Explanation: {{explanation}}</span><br/>
        </div>

        <div class="col-md-12">
            <div class="col-md-offset-8 col-md-1" ng-click="next()">
                <div class="btn">next</div>
            </div>
            <div class="col-md-offset-2 col-md-1" onclick="location.href='index.html';" >
                <div class="btn">home</div>
            </div>
        </div>
        <br/>
    </div>
    <br/><br/>
    <footer align="center">
        <a href="http://thatjsdude.com/interview/index.html"><h2>Go to more Frontend Interview questions</h2></a>
        <br/>
        <hr>
        <span style="float:left; color: #46b8da; text-shadow: 0.5px 1px black; font-size: 17px">Practice makes perfect!</span>
        <div class="addthis_toolbox addthis_default_style " style="float:right">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
            <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f8c637f46642484"></script>
    </footer>
</div>

</body>
</html>