<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="scripts/angular.js"></script>
    <script src="scripts/ui-bootstrap-tpls-0.13.3.min.js"></script>
    <script src="scripts/project.js"></script>
    <link href="styleSheets/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-controller="testController">
<div class="container">
    <span>{{question}}</span><br/>
    <form >
        <label>
            <input ng-change="show()" type="radio" ng-model="userAnswer" value= "A">
            {{choiceA}}
        </label><br/>
        <label>
            <input ng-change="show()" type="radio" ng-model="userAnswer" value="B">
            {{choiceB}}
        </label><br/>
        <label>
            <input ng-change="show()" type="radio" ng-model="userAnswer" value="C">
            {{choiceC}}
        </label><br/>
        <label>
            <input ng-change="show()" type="radio" ng-model="userAnswer" value="D">
            {{choiceD}}
        </label><br/>

<!--        <div class="well col-md-12">
            <div ng-repeat="data in data">
                {{data.question}}
                <div ng-repeat="option in data.choice">{{option}}

                </div><input type="text" ng-model="data.correctAnswer">
            </div>
        </div>
        {{data}}-->
    </form>
    <span ng-show=showAnswer> right answer: {{answer}}</span><br/>
    <span ng-show=showAnswer>{{explanation}}</span><br/>
    <button ng-click="prev()"> previous</button>
    <button ng-click="next()"> next</button>
    <button onclick="location.href='index.html';"> back</button>

</div>
</body>
</html>